.main {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

section {
    height: 100%;
    width: 100%;
    padding: 40px;
}



p.titulo {
    font-size: 100px;
    color: white;
    padding: 20px;
}

div.texto {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

p.paragrafo {
    font-size: 20px;
    color: white;
    line-height: 1.5;
    width: 700px;
    margin-left: 100px;
    max-width: 500px;
}


/* ---------------------- IDENTIDADE -----------------*/

section.identidade {
    max-width: 990px;
    padding: 20px;
    text-align: center;

}

div.logo img {
    width: 180px;
    height: auto;
    position: relative;
}


/* ----------------------------- APRESENTAÇÃO --------*/

section.apresentacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

div.coming img {
    width: 1000px;
    height: 550px;
    position: relative;
    margin: 70px 0 10px 0;
}

div.overlay {
    width: 100%;
    height: 60px;
    color: black;
    background-color: white;
    font-size: 30px;
    margin: 40px 0px 40px 0px;
}

a button {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    border: solid 2px;
    border-color: white;
    background-color: black;
    color: white;
    margin: 30px;
}

a button:hover {
    color: black;
    background-color: white;
}


/* --------------------------- CASE -----------------*/


div.cases {
    width: 100%;
    height: auto;
    color: white;
    display: grid;
    grid-template-areas: "project project project"
        "project project project"
        "project project project";
    grid-template-columns: repeat(3, 1fr);
}


div.project {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.project img {
    width: 420px;
    height: 150px;
}


/*----------------------- SLIDE --------------------------*/






/*------------------------ PATROCINIOS ----------------------*/

section.patrocinio {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

}

div.brands{ 
display: grid;
    grid-template-areas: "brand brand brand brand brand"
        "brand brand brand brand brand"
        "brand brand brand brand brand";
    grid-template-columns: repeat(5, 1fr);
}

div.brands img {
    width: 210px;
    height: 210px;
    gap: 5px;
}


/*--------------------- TEAM -----------------*/

section.team{ 
    width: 100%;
    height: auto;
}

div.crew{ 
    display: grid;
    grid-template-areas: "member member member"
        "member member member"
        "member member member";
    grid-template-columns: repeat(3, 1fr);
}

div.crew img{
    width: 100%;
    height: 600px;
    border: solid white 0.5px;
}

/*--------------------- INFOS --------------------*/

section.infos{ 
    background-color: white;
    width: 100%;
    height: 500px;
    font-size: 40px;
    border: solid black;
}


/*----------------- CONTATO ---------------------*/

section.contato{ 
    background-color: white;
    width: 100%;
    height: 500px;
    font-size: 40px;
    border: solid black;
}





