.main {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

section {
    height: 100%;
    width: 100%;
    padding: 40px;
}



p.titulo {
    font-size: 100px;
    color: white;
    padding: 20px;
}

/* Animação para transicionar entre itálico e normal */
@keyframes italicoNormal {
    0%, 50% {
        font-style: normal;
    }
    50%, 100% {
        font-style: italic;
    }
}

/* Aplica animação apenas na parte "VÍDEOS QUE CONECTAM" */
.animado {
    animation: italicoNormal 1.7s infinite;
}

/* Animação para "TRANSFORMANDO" - sobe e desce suavemente */
@keyframes transformandoAnimado {
    0% {
        color: white;
        -webkit-text-stroke: 0px;
        text-stroke: 0px;
        transform: translateY(0);
    }
    25% {
        color: white;
        -webkit-text-stroke: 0px;
        text-stroke: 0px;
        transform: translateY(-15px);
    }
    50% {
        color: black;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        transform: translateY(-20px);
    }
    75% {
        color: white;
        -webkit-text-stroke: 0px;
        text-stroke: 0px;
        transform: translateY(-15px);
    }
    100% {
        color: white;
        -webkit-text-stroke: 0px;
        text-stroke: 0px;
        transform: translateY(0);
    }
}

.transformando-animado {
    animation: transformandoAnimado 4s ease-in-out infinite;
    display: inline-block;
}

div.texto {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

p.paragrafo {
    font-size: 20px;
    color: white;
    line-height: 1.5;
    width: 700px;
    margin-left: 100px;
    max-width: 500px;
}


/* ---------------------- IDENTIDADE -----------------*/

section.identidade {
    max-width: 990px;
    padding: 20px;
    text-align: center;

}

div.logo img {
    width: 180px;
    height: auto;
    position: relative;
}


/* ----------------------------- APRESENTAÇÃO --------*/

section.apresentacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

div.coming img {
    width: 1000px;
    height: 550px;
    position: relative;
    margin: 70px 0 10px 0;
}

div.overlay {
    width: 100%;
    height: 60px;
    color: black;
    background-color: white;
    font-size: 30px;
    margin: 40px 0px 40px 0px;
}

a button {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    border: solid 2px;
    border-color: white;
    background-color: black;
    color: white;
    margin: 30px;
}

a button:hover {
    color: black;
    background-color: white;
}


/* --------------------------- CASE -----------------*/


div.cases {
    width: 100%;
    height: auto;
    color: white;
    display: grid;
    grid-template-areas: "project project project"
        "project project project"
        "project project project";
    grid-template-columns: repeat(3, 1fr);
}


div.project {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.project img {
    width: 420px;
    height: 150px;
}


/*----------------------- SLIDE --------------------------*/






/*------------------------ PATROCINIOS ----------------------*/

section.patrocinio {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

}

div.brands{ 
display: grid;
    grid-template-areas: "brand brand brand brand brand"
        "brand brand brand brand brand"
        "brand brand brand brand brand";
    grid-template-columns: repeat(5, 1fr);
}

div.brands img {
    width: 210px;
    height: 210px;
    gap: 5px;
}


/*--------------------- TEAM -----------------*/

section.team{ 
    width: 100%;
    height: auto;
}

div.crew{ 
    display: grid;
    grid-template-areas: "member member member"
        "member member member"
        "member member member";
    grid-template-columns: repeat(3, 1fr);
}

div.crew img{
    width: 100%;
    height: 600px;
    border: solid white 0.5px;
}

.integ{ 
    position: relative;
}

.member{ 
    display: block;
    position: relative;
    transition: transform 0.3s ease;
}

.integ:hover .member {
    transform: scale(1.08);
    z-index: 2;
    position: relative;
}

.descricao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10%;
    color: white;
    text-align: center;
    pointer-events: none;
    /* background: rgba(0, 0, 0, 0.6); escurece a imagem */
}

.descricao h3 {
    margin-bottom: 1%;
    font-size: 1.5rem;
    font-family: "Cormorant", serif;
}



/*--------------------- INFOS --------------------*/

section.infos{ 
    background-color: white;
    width: 100%;
    height: 500px;
    font-size: 40px;
    border: solid black;
}


/*----------------- CONTATO ---------------------*/

section.contato{ 
    background-color: white;
    width: 100%;
    height: 500px;
    font-size: 40px;
    border: solid black;
}





