.main {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.texto-coverage {
    padding: 20px;
    width: 40%;
    display: flex;
    align-items: flex-start;
}

p.paragrafo-coverage {
    width: 100%;
    font-size: 20px;
    color: white;
    line-height: 1.5;
}

p.titulo {
    font-size: 100px;
    color: white;
    margin: 50px;
}


/*--------------------- HEADER --------------*/

header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header img {
    width: 75px;
    height: 75px;
}

header p {
    color: white;
    font-size: 15px;
}

/*------------ PRESENTATION -------------------*/

section.presentation {}

div.container-data {
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
}

div.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 30%;
}

div.data p {
    border-bottom: solid white 1px;
    font-size: 20px;
    width: 80%;
    margin: 15px;
    padding: 10px;
}

div.alcance {
    margin: 5% 0% 10% 0%;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

div.numbers {
    border: solid white 1px;
    width: 320px;
    height: 280px;
    border-radius: 50px;
}


/*------------------------ PREVIEW --------------------*/
section.container-preview {
    width: 100%;
}

div.preview {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.container-preview h2{ 
    color: white;
    margin: 5% 0% 2% 5%;
    font-size: 30px;
}

div.preview img {
    width: 98%;
    height: 550px;
    position: relative;
}

div.container-resenha{ 
    height: 45%;
    display: flex;
}

div.container-resenha p{ 
    color: white;
    width: 45%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    
}


/*------------------- FOOTER -----------------*/ 

footer.footer{ 
    border-top: solid white 1px;
    width: 100%;
    color: white;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

div.sobre{ 
    width: 33%;
    text-align: center;
}

